/* Start Variable */
:root {
  --main-color: #2296f3;
  --main-color-alt: #1787e0;
  --second-color: #ececec;
  --link-hover-color: #fafafa;
  --main-hover-color: #ededed;
  --main-padding: 15px;
  --main-padding-top: 100px;
  --main-transtion: 0.3s;
  --main-line-height: 1.5;
  --main-paragraph-color: #777777;
}
/* End Variable */
/* Start Componant */
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cool-title {
  font-size: 28px;
  margin: 0px auto 70px auto;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid black;
  width: fit-content;
  position: relative;
  z-index: 100;
}
@media (max-width: 786px) {
  .cool-title {
    font-size: 20px;
  }
}
.cool-title::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}
.cool-title::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
}
.cool-title:hover::after {
  z-index: -1;
  animation: to-left 0.5s linear 1 forwards;
  /* right: 0;
  width: 50%;
  height: 100%;
  top: 0;
  border-radius: 0;
  z-index: -1;
  transition: right var(--main-transtion),
    border-radius var(--main-transtion) 0.3s, top var(--main-transtion) 0.3s,
    width var(--main-transtion) 0.3s, height var(--main-transtion) 0.3s,
    color var(--main-transtion) 0.3s; */
}
.cool-title:hover::before {
  z-index: -1;
  animation: to-right 0.5s linear 1 forwards;
  /* left: 0;
  width: 50%;
  height: 100%;
  top: 0;
  border-radius: 0;
  z-index: -1;
  transition-property: z-index;
  transition-delay: 0.3s;
  transition: left var(--main-transtion),
    border-radius var(--main-transtion) 0.3s, top var(--main-transtion) 0.3s,
    width var(--main-transtion) 0.3s, height var(--main-transtion) 0.3s,
    color var(--main-transtion) 0.3s; */
}
.cool-title:hover {
  color: white;
  border: 2px solid white;
  transition: color var(--main-transtion) 0.3s,
    border var(--main-transtion) 0.3s;
}
/* End Componant */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
/* End Global Rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start header */
.header {
  background-color: white;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .header .container {
    flex-direction: column;
  }
}
.header .logo {
  margin: 0;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .header .logo {
    height: 50px;
  }
}
.header .main-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main-links > li > a {
  padding: 0px 15px;
  height: 70px;
  font-size: 18px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: var(--main-transtion);
}
@media (max-width: 767px) {
  .header .main-links > li > a {
    font-size: 14px;
    height: 40px;
  }
}
.header .main-links > li > a::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 5px;
  top: 0;
  left: -100%;
  transition: var(--main-transtion);
}
.header .main-links > li > a:hover::before {
  left: 0;
}

.header .main-links > li > a:hover {
  background-color: var(--link-hover-color);
  color: var(--main-color);
}
.header .main-links > li:hover .extended-list {
  opacity: 100%;
  top: calc(100% + 1px);
  z-index: +1000;
  transition: var(--main-transtion);
}

/* extended-list style start in header*/
.header .main-links .extended-list {
  background-color: white;
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  display: flex;
  padding: var(--main-padding);
  gap: 25px;
  width: 100%;
  opacity: 0%;
  z-index: -1000;
  border-bottom: 3px solid var(--main-color);
}
@media (max-width: 767px) {
  .header .main-links .extended-list {
    gap: 0px;
  }
}
@media (max-width: 767px) {
  .header .main-links .extended-list {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .header .main-links .extended-list .image {
    display: none;
  }
}
@media (max-width: 991px) {
  .header .main-links .extended-list .image {
    display: none;
  }
}
.header .main-links .extended-list img {
  max-width: 100%;
}
.header .main-links .extended-list ul {
  flex: 1;
  min-width: 250px;
  display: block;
  flex-direction: column;
}
.header .main-links .extended-list li {
  position: relative;
  padding: var(--main-padding);
  overflow: hidden;
}
.header .main-links .extended-list li:not(:last-child) {
  border-bottom: 1px solid var(--second-color);
}
@media (max-width: 767px) {
  .header .main-links .extended-list li {
    border-bottom: 1px solid var(--second-color);
  }
}
.header .main-links .extended-list a {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
}
.header .main-links .extended-list li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--link-hover-color);
  left: -100%;
  top: 0;
  transition: var(--main-transtion);
  z-index: -1;
}
.header .main-links .extended-list li:hover::before {
  left: 0;
}
/* for icons in extended-list */
.header .main-links .extended-list a i {
  margin-right: 5px;
}
/* extended-list style in header start*/
/* End header */
/* Start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--second-color);
  z-index: -1;
  transform: skewY(-5deg);
  top: -30px;
  left: 0;
  transform-origin: top left;
}
@media (max-width: 767px) {
  .landing::before {
    top: -70px;
  }
}
.landing .container {
  display: flex;
  align-items: center;
  min-height: calc(100% - 72px);
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .animation-image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
@keyframes image-animation {
  from {
    margin-bottom: 30px;
  }
  to {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .landing .animation-image {
    display: none;
  }
}
.landing .text h1 {
  margin: 0;
  letter-spacing: -1px;
  font-size: 40px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 30px;
  }
}
.landing .text p {
  margin-top: 15px;
  color: #666666;
  font-size: 23px;
  line-height: var(--main-line-height);
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 15px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 17px;
  }
}
.landing .arow-to-down {
  position: absolute;
  left: 50%;
  bottom: 25px;
  color: var(--main-color);
  transform: translateX(-50%);
  transition: var(--main-transtion);
}
@media (max-width: 767px) {
  .landing .arow-to-down {
    bottom: 35px;
  }
}

.landing .arow-to-down i {
  animation: bouncing 1.3s linear infinite;
}
.landing .arow-to-down:hover {
  color: var(--main-color-alt);
}

/* End landing */
/* Start articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
  position: relative;
}
.articles .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .cards .card {
  background-color: white;
  -moz-box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  transition: var(--main-transtion);
}
.articles .cards .card:hover {
  transform: translateY(-10px);
  -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .cards .card:hover .card-footer i {
  animation: bouncing-left-right 0.5s linear infinite;
}
.articles .cards .card img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.articles .cards .card .text {
  border-bottom: solid var(--second-color) 1px;
}
.articles .cards .text h3 {
  margin: 5px 0px 0px 0px;
  padding: var(--main-padding);
}
.articles .cards .text p {
  margin: 0;
  padding: 10px var(--main-padding);
  color: var(--main-paragraph-color);
  line-height: var(--main-line-height);
}
.articles .cards .card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--main-padding);
}
.articles .cards .card .card-footer a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .cards .card .card-footer i {
  color: var(--main-color);
  font-weight: bold;
}

/* End articles */
/* Start gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
  position: relative;
  background-color: var(--second-color);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flash 0.6s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transtion);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End gallery */
/* Start features */
.features {
  --features-color-1: #f44035;
  --features-color-2: #009688;
  --features-color-3: #03a9f4;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  border: 1px solid #cccc;
}
.features .box .image {
  position: relative;
  overflow: hidden;
}
.features .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 60%;
}
.features .box:nth-child(1) .image::before {
  background-color: var(--features-color-1);
}
.features .box:nth-child(2) .image::before {
  background-color: var(--features-color-2);
}
.features .box:nth-child(3) .image::before {
  background-color: var(--features-color-3);
}
.features .box .image::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0 200px 500px;
  bottom: 0;
  right: 0;
  border-color: transparent transparent white transparent;
  transition: var(--main-transtion);
}
.features .box:hover .image::after {
  border-width: 200px 500px 200px 0px;
}
.features .box img {
  max-width: 100%;
}
.features .box .text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.features .box h1 {
  position: relative;
  margin: auto;
  width: fit-content;
  padding: 20px 0px;
  font-size: 40px;
}
.features .box h1::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.features .box:nth-child(1) h1::before {
  content: "";
  background-color: var(--features-color-1);
}
.features .box:nth-child(2) h1::before {
  content: "";
  background-color: var(--features-color-2);
}
.features .box:nth-child(3) h1::before {
  content: "";
  background-color: var(--features-color-3);
}
.features .box p {
  line-height: calc(var(--main-line-height) + 0.4);
  color: var(--main-paragraph-color);
  margin: 30px 0px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.features .box a {
  position: relative;
  padding: 10px 30px;
  margin: 0 auto 30px;
  width: fit-content;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  overflow: hidden;
  transition: var(--main-transtion);
}
.features .box:hover a[href="#"] {
  color: white;
}
.features .box a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0px;
  transition: var(--main-transtion);
  z-index: -10;
}
.features .box:hover a::before {
  left: 0;
}

.features .box:nth-child(1) a::before {
  background-color: var(--features-color-1);
}
.features .box:nth-child(2) a::before {
  background-color: var(--features-color-2);
}
.features .box:nth-child(3) a::before {
  background-color: var(--features-color-3);
}
.features .box:nth-child(1) a {
  border: 3px solid var(--features-color-1);
  color: var(--features-color-1);
}
.features .box:nth-child(2) a {
  border: 3px solid var(--features-color-2);
  color: var(--features-color-2);
}
.features .box:nth-child(3) a {
  border: 3px solid var(--features-color-3);
  color: var(--features-color-3);
}

/* End features */
/* Start TESTIMONIALS */
.testimonials {
  --star-color: #ffc108;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
  position: relative;
  background-color: var(--second-color);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: calc(var(--main-padding) + 5px);
}
.testimonials .box::before {
  content: "";
  position: absolute;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: -50px;
  right: -10px;
  border: 10px solid var(--second-color);
}
.testimonials .box:nth-child(1)::before {
  background-image: url(../Images/avatar-01.png);
}
.testimonials .box:nth-child(2)::before {
  background-image: url(../Images/avatar-02.png);
}
.testimonials .box:nth-child(3)::before {
  background-image: url(../Images/avatar-03.png);
}
.testimonials .box:nth-child(4)::before {
  background-image: url(../Images/avatar-04.png);
}
.testimonials .box:nth-child(5)::before {
  background-image: url(../Images/avatar-05.png);
}
.testimonials .box:nth-child(6)::before {
  background-image: url(../Images/avatar-06.png);
}
.testimonials .box h3 {
  margin: 0;
  width: fit-content;
}
.testimonials .box p:nth-child(2) {
  padding: 10px 0px;
  margin: 0;
  color: var(--main-paragraph-color);
}
.testimonials .box p:nth-child(4) {
  margin-bottom: 0;
  line-height: var(--main-line-height);
  color: var(--main-paragraph-color);
}
.testimonials .box .stars .fa-solid {
  color: var(--star-color);
}
/* End TESTIMONIALS */
/* Start team-members */
.team-members {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team-members .box {
  position: relative;
  padding: var(--main-padding);
}
.team-members .box::before,
.team-members .box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  top: 0;
  right: 0;
  border-radius: 10px;
  transition: var(--main-transtion);
}
.team-members .box::before {
  background-color: #f3f3f3;
  z-index: -2;
}
.team-members .box::after {
  background-color: #e4e4e4;
  width: 0;
  z-index: -1;
}
.team-members .box:hover::after {
  width: 80%;
}
.team-members .box .show {
  margin-top: 40px;
  display: flex;
  gap: 15px;
}
.team-members .box .text {
  padding-left: 25%;
}
.team-members .box .show img {
  border-radius: 10px;
  max-width: 100%;
  transition: var(--main-transtion);
}
.team-members .box:hover img {
  filter: grayscale(100%);
}
.team-members .box .show .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.team-members .box .show .icons i {
  color: var(--main-paragraph-color);
  transition: var(--main-transtion);
}
.team-members .box .show .icons i:hover {
  color: var(--main-color);
}
.team-members .box .text h2 {
  margin: 0;
  margin-top: 25px;
  font-size: 22px;
  color: var(--main-color);
}
.team-members .box:hover h2 {
  filter: grayscale(100%);
}
.team-members .box .text p {
  margin: 0%;
  padding: 10px 0;
}
/* End team-members */
/* Start services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
  background-color: var(--second-color);
}
.services .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  position: relative;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transtion);
  counter-increment: number-of-boxs;
}
.services .box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  transition: var(--main-transtion);
}
.services .box:hover::before {
  width: 100%;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .box .card-footer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: var(--main-padding);
  background-color: #f9f9f9;
}
.services .box .card-footer::before {
  content: "0" counter(number-of-boxs);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  height: 100%;
  width: 80px;
  padding-right: 15px;
  left: 0;
  top: 0;
  background-color: var(--main-color);
}
.services .box .card-footer::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50px;
  background-color: #d5d5d5;
  left: 80px;
  top: 0;
  transform: skewX(-30deg);
}
.services .box .icon h2 {
  margin: 20px 0px 40px;
  color: var(--main-color);
  font-size: 25px;
}
.services .box .icon i {
  margin-top: 30px;
  color: #d5d5d5;
}
.services .box .card-footer a {
  color: var(--main-color);
}

/* End services */
/* Start skills */
.skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
}
.skills .container {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
}
.skills img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .skills .image {
    display: none;
  }
}
.skills .bars {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.skills .bars p {
  position: relative;
  font-size: 19px;
  font-weight: bold;
  margin: 0px;
  margin: 19px 0px 0px;
}
@media (max-width: 991px) {
  .skills .bars p {
    margin-bottom: 10px;
  }
}
.skills .bars p::before {
  position: absolute;
  width: fit-content;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19px;
  border-radius: 5px;
  border: 1px solid #cccc;
  top: 50%;
  right: -15px;
  font-size: 12px;
  color: var(--main-color);
  transform: translate(-50%, -50%);
}
.skills .bars p:nth-of-type(1)::before {
  content: "80%";
}
.skills .bars p:nth-of-type(2)::before {
  content: "85%";
}
.skills .bars p:nth-of-type(3)::before {
  content: "70%";
}
.skills .bars p:nth-of-type(4)::before {
  content: "80%";
}
.skills .bars .bar {
  position: relative;
  height: 30px;
  background-color: #eeee;
  margin: 0;
}
.skills .bars .bar span {
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  transition: 1s;
}

/* End skills */
/* Start work */
.how-to-work {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
  background-color: var(--second-color);
}
.how-to-work .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 992px) {
  .how-to-work .container {
    flex-direction: column;
    gap: 30px;
  }
}
.how-to-work .image {
  flex-basis: 50%;
}
.how-to-work .image img {
  max-width: 100%;
}
.how-to-work .box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-to-work .box .content {
  position: relative;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 5px;
  padding: 25px;
  z-index: 1;
  transition: var(--main-transtion);
}
@media (max-width: 768px) {
  .how-to-work .box .content {
    flex-direction: column;
  }
}
.how-to-work .box .content::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-hover-color);
  z-index: -1;
  width: 0px;
  height: 0px;
  transition: var(--main-transtion);
}
.how-to-work .box .content:hover::before {
  transition: var(--main-transtion);
  width: 100%;
  height: 100%;
}
.how-to-work .box .content .contentImage {
  width: 65px;
  height: 65px;
}
.how-to-work .box .content img {
  max-width: 100%;
}
.how-to-work .box .content .text {
  flex: 1;
}
@media (max-width: 768px) {
  .how-to-work .box .content .text {
    text-align: center;
  }
}
.how-to-work .box .content h2 {
  margin: 0;
  font-size: 22px;
}
.how-to-work .box .content p {
  color: var(--main-paragraph-color);
  line-height: var(--main-line-height);
  font-size: 18px;
  margin-bottom: 5px;
}
/* End work */
/* Start events */
.events {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
}
.events::before {
  content: url(../Images/dots.png);
  position: absolute;
  top: 200px;
  right: 10px;
  z-index: -5;
}
.events::after {
  content: url(../Images/dots.png);
  position: absolute;
  bottom: 200px;
  left: 10px;
  z-index: -5;
}
@media (max-width: 1201px) {
  .events::before,
  .events::after {
    display: none;
  }
}
.events .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}
.events .container .image {
  max-width: 450px;
}
@media (max-width: 992px) {
  .events .container .image {
    display: none;
  }
}
.events .container img {
  max-width: 100%;
}
.events .box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.events .box .counter {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.events .box .counter div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  transition: var(--main-transtion);
}
.events .box .counter div:hover {
  border-color: var(--main-color);
}
.events .box .counter div:hover p {
  border-color: var(--main-color);
}
.events .box .counter h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 12px;
  font-size: 35;
  color: var(--main-color);
}
.events .box .counter p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d4d4d4;
  margin: 0;
  width: 100%;
  padding: 8px 5px;
  font-size: 13px;
  transition: var(--main-transtion);
}
.events .box .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.events .box .text h1 {
  font-size: 30px;
  margin: 0;
  margin-top: 40px;
}
.events .box .text p {
  text-align: center;
  line-height: var(--main-line-height);
  font-size: 19px;
  color: var(--main-paragraph-color);
  padding: 10px;
}
.events .sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}
.events .sub form {
  border-radius: 50px;
  background-color: #f6f5f5;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 600px;
  padding: 30px 40px;
}
@media (max-width: 768px) {
  .events .sub form {
    flex-direction: column;
    border-radius: 0;
    padding: 15px;
    gap: 10px;
  }
}
.events .sub input:first-child {
  border-radius: 50px;
  border: none;
  width: 500px;
  padding: 20px 30px;
  caret-color: var(--main-color);
}
@media (max-width: 768px) {
  .events .sub input:first-child {
    width: 100%;
    border-radius: 0;
  }
}
.events .sub input:first-child:focus {
  outline: none;
}
.events .sub input:first-child::placeholder {
  transition: opacity var(--main-transtion);
}
.events .sub input:first-child:focus::placeholder {
  opacity: 0;
}
.events .sub input:last-child {
  flex: 1;
  border-radius: 50px;
  border: none;
  padding: 20px 30px;
  text-align: center;
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
  transition: var(--main-transtion);
  cursor: pointer;
}
@media (max-width: 768px) {
  .events .sub input:last-child {
    width: 100%;
    border-radius: 0;
  }
}
.events .sub input:last-child:hover {
  background-color: var(--main-color-alt);
}
/* End events */
/* Start pricing */
.pricing {
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-top);
  background-color: var(--second-color);
  z-index: 0;
}
.pricing::before {
  content: url(../Images/dots.png);
  position: absolute;
  top: 200px;
  right: 10px;
}
.pricing::after {
  content: url(../Images/dots.png);
  position: absolute;
  bottom: 200px;
  left: 10px;
  z-index: -1;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing .box {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  z-index: 0;
  overflow: hidden;
}
.pricing .box::before {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  right: -100%;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  transition: var(--main-transtion);
}
.pricing .box::after {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  left: -100%;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  transition: var(--main-transtion);
}
.pricing .box:hover::before {
  right: 0;
}
.pricing .box:hover::after {
  left: 0;
}
.pricing .box:hover .arrow {
  border-color: var(--main-color) var(--main-color) #f6f6f6 var(--main-color);
}
.pricing .box:nth-child(2) {
  transform: translateY(-20px);
}
@media (max-width: 1200px) {
  .pricing .box:nth-child(2) {
    transform: translateY(0);
  }
}
.pricing .box .most {
  position: absolute;
  top: 40px;
  right: -25px;
  background-color: var(--main-color);
  color: white;
  transform: rotate(90deg);
  font-weight: bold;
  padding: 10px;
  width: 120px;
  height: 40px;
  outline: none;
}
.pricing .box .arrow {
  position: absolute;
  background-color: red;
  border-width: 20px;
  border-style: solid;
  top: 100px;
  right: 15px;
  border-color: var(--main-color) var(--main-color) white var(--main-color);
  z-index: -1;
  transition: var(--main-transtion);
}
.pricing .box h2 {
  font-size: 26px;
  margin: 30px 0px;
}
.pricing .box img {
  max-width: 80px;
}
.pricing .box .price {
  position: relative;
}
.pricing .box .price span:first-child {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin: 33px 0px 0px;
  color: var(--main-color);
  text-align: center;
}
.pricing .box .price span:last-child {
  display: block;
  text-align: center;
  color: var(--main-paragraph-color);
}
.pricing .box .prop {
  width: 100%;
  margin-top: 14px;
}
.pricing .box .prop div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-top: 1px solid #eeee;
}
.pricing .box .prop i {
  margin-left: 10px;
  color: var(--main-color);
  font-size: 20px;
}
.pricing .box a {
  padding: 15px 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  font-weight: bold;
  border-radius: 5px;
  margin: 30px;
  transition: var(--main-transtion);
}
.pricing .box a:hover {
  background-color: var(--main-color);
  color: white;
}
/* End price */
/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(15px);
  }
}
@keyframes bouncing-left-right {
  100% {
    transform: translateX(7px);
  }
}
/* cool title by animation */
@keyframes to-right {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes to-left {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
/* cool title by animation */
@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end animation */
